.header {
    background: url('../../assets/images/header-bg.png') center/cover no-repeat;
    min-height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    padding-bottom: 10px;
}

.header__menu-item {
    display: inline-block;
    padding-left: 55px;
}

.header__menu-link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5px;

    &:hover {
        color: #f84545;
    }
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 65vh;
}

.header__title {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 36px;
    line-height: 70px;
}

.header__text {
    color: #f84545;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 12px;
    line-height: 75px;
}

.header__slider {
    text-align: center;
    padding-top: 20px;
}