<footer class="footer">
    <nav class="footer__menu">
        <ul>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">©ICNDY2014</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">PRIVACY</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">TERMS</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">SHOP</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">ABOUT</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">CONTACT</a>
            </li>
        </ul>
    </nav>
    <div class="footer__social">
        <a href="#"><img src="assets/images/inst.png" alt=""></a>
        <a href="#"><img src="assets/images/facebook.png" alt=""></a>
        <a href="#"><img src="assets/images/twitter.png" alt=""></a>
    </div>
</footer>