<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__logo">
                <img src="assets/images/logo.png" alt="">
            </div>

            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">MENS</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">WOMENS</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">BRANDS</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">SALE</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">NEWS</a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="header__content">
            <div class="header__title">
                STÜSSY2014
            </div>
            <div class="header__text">
                SHOP NOW
            </div>
        </div>

        <div class="header__slider">
            <a href="#">
                <img src="assets/images/arrow.png" alt="">
            </a>
        </div>

    </div>
</header>